@font-face {
  font-family: yo_font_1;
  src: url(./font/PPMori-Extralight.otf);
}

@font-face {
  font-family: yo_font_2;
  src: url(./font/PPMori-Regular.otf);
}

@font-face {
  font-family: yo_font_3;
  src: url(./font/PPMori-SemiBold.otf);
}

@font-face {
  font-family: yo_font_4;
  src: url(./font/PPMori-SemiBoldItalic.otf);
}


:root {
  --yo_color_1: #0E100F;
  --yo_color_2: #FFFCE1;

}




* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  width: 100%;
  /*     background: #0E100F;
    color :#FFFCE1;
    background: var(--yo_color_1);

    height: 100%;
    font-family: yo_font_2;
}

.page_1 {
    width: 100vw;
    min-height: 100vh;
    position: relative;
    display: none1;
    /* _₹&___________ */
}

.page_1 nav {
  width: 100%;
  height: 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #00000029;
  padding: 0 3vw;
  background: #0E100F;
  color: #FFFCE1;
  z-index: 99;
  position: sticky;
}

.page_1 nav .left_nav {
  font-size: 2vw;
  font-family: yo_font_4;
  font-weight: 10000;
  display: flex;
  align-items: center;
  justify-content: center;

}

.right_nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.right_nav .right_nav_monu {
  border: 0.2vw solid #FFFCE1;
  height: 5vw;
  padding: 0 2vw;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3vw;

}

.right_nav .right_nav_monu .line_box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 3.9vw;
  gap: 0.6vw;
  position: relative;
}

.right_nav .right_nav_monu .line_box .line {
  width: 5vw;
  height: .4vw;
  background: #F1E35E;
  border-radius: 10px;


}

.line_1 {
  transform: rotate(-0deg) translateY(-9px);
  position: absolute;

}

.line_2 {
  transform: rotate(0deg) translateY(0px);
  position: absolute;

}

.line_3 {
  position: absolute;
  transform: rotate(0deg)translateY(9px);
}




.yo_hero {
  width: 100%;
  min-height: calc(50vh - 10vw);
  color: var(--yo_color_2);
  background: var(--yo_color_1);
  display: flex;
  align-items: center;
  justify-content: center;

}

.yo_hero_ {
  width: 100%;
  padding: 2vw 6vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4vw;


}

.yo_hero_text_1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.yo_hero_text_1 h1 {
  font-size: 16.5vw;
  letter-spacing: -2.2vw;
  font-family: yo_font_3;
  font-weight: 1000;
  line-height: 0.5;
}

#n {
  position: relative;

}

#n:after {
  content: '';
  position: absolute;
  width: 7vw;
  height: 7vw;
  top: -5vw;
  left: 0.5vw;
  background-image: url(/svg/falver.svg);
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(0deg);
  animation: rotate 2s ease-in-out infinite;
}

@keyframes rotate {
  to {
    transform: rotate(180deg);
  }
}








.yo_hero_text_2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

}

.yo_hero_text_2 h1 {
  font-size: 16.5vw;
  letter-spacing: -2.2vw;
  font-family: yo_font_3;
  font-weight: 1000;
  color: #FFFCE1;

}







.yo_hero_text_3 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.yo_hero_text_3_text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2em;
}

.yo_hero_text_3_text li {
  list-style-type: none;
  max-width: 32vw;
  color: var(--yo_color_2);
  font-family: yo_font_3;

}

.yo_hero_text_3_text span {
  font-size: 8vw;
  color: var(--yo_color_2);
  font-family: yo_font_1;


}

.yo_hero_text_3_btn {
  border: 0.2vw solid #1AC424;
  border-radius: 59px;
  padding: 1.5vw 3.5vw;
  font-family: yo_font_4;

}

/* _________________________________ */

.canteen {
  width: 100%;
  height: 50vh;
  background: var(--yo_color_1);
  color: var(--yo_color_2);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 4vw;
  padding: 6vw;
  line-height: 1.2;
}

.canteen h1 {
  font-family: yo_font_1;
  font-size: 5.3vw;
  width: 100%;
}